:root{
    --blue: #1287fa;
	--darkblue: #162a4c;
    --yellow: #ffb400;
}

/* ---------- general ---------- */

body{
	background: white !important;
}

#c_ftr{
	position: relative;

    margin-bottom: 15px !important;
}

/* ---------- "made by" tag ---------- */

#c_ftr > .custom_tag{
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	font-size: 1rem;

	box-shadow: rgba(0, 0, 0, 0.443) 0px 0px 8px 0px;

	border-radius: 5px 5px 0 0;

	background: white;

	padding: 10px;
}

#c_ftr > .custom_tag > a{
	width: auto;

	margin-left: 2.5px;
	padding: 2px 7px 3px 7px;

	border: none;
	border-radius: 20px;

	color: var(--darkblue);

	background: var(--yellow);

	transition: all 200ms ease;
}

#c_ftr > .custom_tag > a:hover{
	text-decoration: none;

	color: white !important;

	background:  var(--darkblue) !important;
}