:root{
    --blue: #1287fa;
	--darkblue: #162a4c;
    --yellow: #ffb400;
}

/* ---------- general ---------- */

html, 
body, 
form{
    background: white;
}

#c_bar, #calendarsideview-1010, #calendarmanagerwidget-1013{
	margin-top: 16px !important;
}

#c_bar{
    border: none !important;
}

/* ---------- news feed ---------- */

#component-1079{
	height: 93px;
}

#component-1079 > div{
	top: calc((93px - 45px) / 2);
}
	

/* ---------- "show more" button ---------- */

#c_bar #panel-1068-body{
	border: none;
	border-radius: 20px;
}

#c_bar #panel-1068-body * {
    color: var(--darkblue);

	background: var(--yellow);

    transition: all 200ms ease;
}


#c_bar #panel-1068-body:hover * {
	color: white !important;

	background:  var(--darkblue);
}

#c_bar #panel-1068-body a:hover{
    text-decoration: none;
}