:root{
    --blue: #1287fa !important;
	--darkblue: #162a4c !important;
    --yellow: #ffb400 !important;
}

/* ---------- general ---------- */

body{
	background: white !important;
}

#c_ftr{
	position: relative !important;

    margin-bottom: 15px !important;
}

/* ---------- "made by" tag ---------- */

#c_ftr > .custom_tag{
	position: fixed !important;
	bottom: 0 !important;
	left: 50% !important;
	transform: translateX(-50%) !important;

	font-size: 1rem !important;

	box-shadow: rgba(0, 0, 0, 0.443) 0px 0px 8px 0px !important;

	border-radius: 5px 5px 0 0 !important;

	background: white !important;

	padding: 10px !important;
}

#c_ftr > .custom_tag > a{
	width: auto !important;

	margin-left: 2.5px !important;
	padding: 2px 7px 3px 7px !important;

	border: none !important;
	border-radius: 20pxv;

	color: var(--darkblue) !important;

	background: var(--yellow) !important;

	transition: all 200ms ease !important;
}

#c_ftr > .custom_tag > a:hover{
	text-decoration: none !important;

	color: white !important;

	background:  var(--darkblue) !important;
}