:root{
    --blue: #1287fa !important;
	--darkblue: #162a4c !important;
    --yellow: #ffb400 !important;
}

/* ---------- general ---------- */

html, 
body, 
form{
    background: white !important;
}

#c_bar, #calendarsideview-1010, #calendarmanagerwidget-1013{
	margin-top: 16px !important;
}

#c_bar{
    border: none !important;
}

/* ---------- news feed ---------- */

#component-1085{
	height: 93px !important;
}

#component-1085 > div{
	top: calc((93px - 45px) / 2) !important;
}
	

/* ---------- "show more" button ---------- */

#c_bar #panel-1072-body{
	border: none !important;
	border-radius: 20px !important;
}

#c_bar #panel-1072-body * {
    color: var(--darkblue) !important;

	background: var(--yellow) !important;

    transition: all 200ms ease !important;
}


#c_bar #panel-1072-body:hover *{
	color: white !important;

	background:  var(--darkblue) !important;
}

#c_bar #panel-1072-body a:hover{
    text-decoration: none !important;
}

#calendardaywidget-1013-day-bd-day-col-20210224 div{
	border-radius: 10px !important
}

#calendardaywidget-1013-day-bd-day-col-20210224 div span{
	text-align:center !important
}

#calendardaywidget-1013-body {
	border-radius: 0px 0px 10px 10px !important
}

#toolbar-1014 {
	color: white !important;
	background-color: var(--blue) !important;

	border:none;
	border-radius: 10px 10px 0px 0px !important;

	font-family: Cabin, "Segoe UI", sans-serif !important;
	font-weight: normal !important;
}