:root{
    --blue: #1287fa !important;
	--darkblue: #162a4c !important;
    --yellow: #ffb400 !important;
	--grey: #aeb6be !important;
}

/* ---------- GENERAL ---------- */

html, 
body, 
form{
    background: white !important;
}

#c_bar, #calendarsideview-1010, #calendarmanagerwidget-1013{
	margin-top: 16px !important;
}

#c_bar{
    border: none !important;
}

/*-----CALENDAR-----*/

#toolbar-1014 { /* top bar */
	padding-left: 0px !important;

	color: white !important;
	background: var(--blue) !important;

	border:none;
	border-radius: 10px 10px 0px 0px !important;

	font-family: Cabin, "Segoe UI", sans-serif !important;
	font-weight: normal !important;
}

#calendardaywidget-1013-tb-prev{ margin-left: 5px; } /* prev/next buttons */
#calendardaywidget-1013-tb-next{ margin-right: 5px; }
#calendardaywidget-1013-tb-prev, 
#calendardaywidget-1013-tb-next{
	height: 20px;
	width: 20px;

	margin-top: 2px;
	border-radius: 50%;

	cursor: pointer;

	color: var(--darkblue);
	background: var(--yellow);

	transition: all 200ms ease !important;
}

#calendardaywidget-1013-tb-prev:hover, 
#calendardaywidget-1013-tb-next:hover{
	color: var(--white) !important;
	background: var(--darkblue) !important;
}

#calendardaywidget-1013-tb-prev > span > span{ width: 7.5px; } /* prev/next icons (chevrons) */
#calendardaywidget-1013-tb-next > span > span{ width: 4px; }
#calendardaywidget-1013-tb-prev > span > span, 
#calendardaywidget-1013-tb-next > span > span{
	height: 12px;

	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
    transform: translate(-50% , -50%) !important;
}

#calendardaywidget-1013-body { /* calendar body */
	border-radius: 0px 0px 10px 10px !important;

	overflow: show;
}

.ext-cal-day-col-gutter > div{ /* class (in calendar) */
	border-radius: 0px 10px 10px 0px !important;
	border-left: none !important;
}

.ext-cal-day-col-gutter > div > span{ /* class text */
	text-align:center !important
}

/*----- MY TASKS -----*/

#toolbar-1035{ /* top bar */
	border-radius: 10px 10px 0px 0px !important;
}
	

#panel-1038-body{ /* bottom wrapper */
	border-radius: 0px 0px 10px 10px !important;
}

/*----- LOOKING AHEAD -----*/

#toolbar-1065{
	border-radius: 10px 10px 0px 0px !important;
}

#ext-comp-1236{
	padding: 0px !important;
}
#ext-comp-1052{
	border: 1px solid#aeb6be;
	margin: 0px !important;
}

#ext-comp-1095{
	padding: 0px 0px 13px 0px !important;
}

/* ---------- NEWS FEED ---------- */

#component-1085{
	height: 93px !important;
}

#component-1085 > div{
	top: calc((93px - 45px) / 2) !important;
}

#ext-comp-1083{
	border-radius: 10px !important;
	
	
}

#label-1084 h5{
	font-family: Cabin, "Segoe UI", sans-serif !important;
	color: var(--darkblue) !important;
	padding-left: calc((370px - 45px) / 2) !important;
	font-size: 15px !important; 
}
/* ---------- SHOW MORE BUTTON ---------- */

#c_bar #panel-1072-body{
	border: none !important;
	border-radius: 20px !important;
}

#c_bar #panel-1072-body * {
    color: var(--darkblue) !important;

	background: var(--yellow) !important;

    transition: all 200ms ease !important;
}

#c_bar #panel-1072-body:hover *{
	color: white !important;

	background:  var(--darkblue) !important;
}

#c_bar #panel-1072-body a:hover{
    text-decoration: none !important;
}