:root{
    --blue: #1287fa !important;
	--darkblue: #162a4c !important;
    --yellow: #ffb400 !important;
}

/* ---------- general ---------- */

#productNavBar{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;

    width: 100vw !important;
    height: 48px !important;

    background: var(--blue) !important;
    box-shadow: none !important;
	-webkit-box-shadow: none !important;
	
	font-family: Cabin, "Segoe UI", sans-serif !important;
}

#productNavBar > #mnuMenuContainer{
	height: 48px !important;
}

/* ---------- search bar ---------- */

#productNavBar > #mnuMenuContainer > #ctl00_MenuBlob1_pnlSearch > input{
	height: 24px !important;

    padding-left: 10px !important;
    margin-top: 10px !important;

	border: none !important;
    border-radius: 20px !important;
}

/* ---------- search autosuggest ---------- */

.autosuggest{
	top: 55px !important;

	border: none !important;
	border-radius: 5px !important;

	overflow: hidden !important;

	font-family: Cabin, "Segoe UI", sans-serif !important;

	background: white !important;
	box-shadow: 0 4px 8px 0 #00000071 !important;
}

.autosuggest > .as_ul{
	margin: 10px 0px !important;
}
.autosuggest > .as_ul > li{
	padding: 2px 10px !important;
}

.autosuggest > .as_ul > li.as_highlight,
.autosuggest > .as_ul > li.as_highlight > a{
	background: #f4f6f8 !important;
}

.autosuggest > .as_ul img{
	border-radius: 50% !important;
}

.autosuggest > .as_ul .description{
	color: var(--darkblue) !important;
	font-weight: bold !important;
}

/* ---------- icon buttons ---------- */

#productNavBar > #mnuMenuContainer > ul#mnu_left > li, 
#productNavBar > #mnuMenuContainer > ul#mnu_right > li.clickable{
	height: 55px !important;
	width: 48px !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_left > li > a, 
#productNavBar > #mnuMenuContainer > ul#mnu_right > li.clickable > a{
	width: 34px !important;
	height: 34px !important;

	max-height: initial !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_left > li > a > span.fas, 
#productNavBar > #mnuMenuContainer > ul#mnu_right > li.clickable > a > span.fas{
	font-size: 1.75em !important;
	margin: 6.5px !important;
}

/* ---------- dropdowns ---------- */

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul{
	top: 55px !important;

	border: none !important;
	border-radius: px !important;

	overflow: none !important;

	background: white !important;
	box-shadow: 0 4px 8px 0 #00000071 !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight{
	left: -203px !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li.mnuHead{
	margin-top: 0 !important;
	padding: 7.5px 15px 0 15px !important;
	
	color: var(--darkblue) !important;
	font-weight: bold !important;
	font-size: 2rem !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li.mnuSubHead{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	
	border: none !important;

	color: #4e4e4e !important;
	font-weight: initial !important;
	font-size: 1.5rem !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li.mnuHead + li:not(.mnuSubHead),
#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li.mnuHead + li.mnuSubHead + li,
#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li.mnuSubHead + li:not(.mnuSubHead){
	margin-top: 10px !important;
	padding-top: 10px !important;
	
	border-top: 1px solid #d3d3d3 !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead) > a{
	color: #333 !important
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead):hover,
#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead):hover > a{
	background: #f4f6f8 !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child{
	height: 24px !important;
	width: auto !important;

	padding: 2px !important;
	margin: 10px 15px 5px 15px !important;

	border: none !important;
	border-radius: 20px !important;

	background: var(--yellow) !important;

	transition: all 200ms ease !important;

	overflow: hidden !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > a{
	transition: all 200ms ease !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > a{
	color: var(--darkblue) !important;

	text-align: center !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:not(.mnuHead):not(.mnuSubHead):last-child:hover,
#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:not(.mnuHead):not(.mnuSubHead):last-child:hover > a{
	background:  var(--darkblue) !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child:hover > a{
	color: white !important;
}

/* ---------- user button ---------- */

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child{
	height: 24px !important;
	width: auto !important;

	padding: 2px !important;
	margin: 10px 5px !important;

	border: none !important;
	border-radius: 20px !important;

	background: var(--yellow) !important;
	
	transition: all 200ms ease !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a{
	height: 24px !important;
	width: auto !important;

	padding: 0 !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span{ 
	color: var(--darkblue) !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(2),
#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(3){
	height: 16px !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(2){
	font-size: 1.25em !important;

	margin: 5px 5px 3px 10px !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(3){
	margin: 4px 7.5px 4px 0 !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child:hover{
	color: white !important;
	background:  var(--darkblue) !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child:hover > a{ 
	box-shadow: none !important ;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child:hover > a > span{ 
	color: white !important;
}