#productNavBar {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100vw !important;
	height: 48px !important;
	background: #1287fa !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	font-family: Cabin, "Segoe UI", sans-serif !important;
  }
  #productNavBar #mnuMenuContainer {
	height: 48px !important;
  }
  #productNavBar #mnuMenuContainer > ul > li {
	height: 55px !important;
	width: 38px !important;
  }
  #productNavBar #mnuMenuContainer > ul > li > a {
	width: 38px !important;
	height: 38px !important;
	padding: 8.5px !important;
	max-height: initial !important;
  }
  #productNavBar #mnuMenuContainer > ul > li > a > span.fas {
	font-size: 1.75em !important;
	margin: 6.5px !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul {
	top: 55px !important;
	border: none !important;
	border-radius: px !important;
	overflow: none !important;
	background: white !important;
	box-shadow: 0px 4px 8px 0px #00000071 !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul::-webkit-scrollbar {
	width: 0px !important;
	background: transparent !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight {
	left: -203px !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child {
	height: 24px !important;
	width: auto !important;
	padding: 2px !important;
	margin: 10px 15px 5px 15px !important;
	border: none !important;
	border-radius: 20px !important;
	background: #ffb400 !important;
	transition: all 200ms ease !important;
	overflow: hidden !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child:not(.mnuHead):not(.mnuSubHead):hover, #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child:not(.mnuHead):not(.mnuSubHead):hover > a {
	background: #162a4c !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > li.mnuHead {
	margin-top: 0 !important;
	padding: 7.5px 15px 0 15px !important;
	color: #162a4c !important;
	font-weight: bold !important;
	font-size: 2rem !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > li.mnuHead + li:not(.mnuSubHead),
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > li.mnuHead + li.mnuSubHead + li {
	margin-top: 10px !important;
	padding-top: 10px !important;
	border-top: 1px solid #d3d3d3 !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > li.mnuSubHead {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	border: none !important;
	color: #4e4e4e !important;
	font-weight: initial !important;
	font-size: 1.5rem !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > li.mnuSubHead + li:not(.mnuSubHead) {
	margin-top: 10px !important;
	padding-top: 10px !important;
	border-top: 1px solid #d3d3d3 !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > a {
	color: #162a4c !important;
	text-align: center !important;
	transition: all 200ms ease !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead) > a {
	color: #333 !important;
  }
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead):hover,
  #productNavBar #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead):hover > a {
	background: #f4f6f8 !important;
  }
  #productNavBar #ctl00_MenuBlob1_pnlSearch > input {
	height: 24px !important;
	padding-left: 10px !important;
	margin-top: 10px !important;
	border: none !important;
	border-radius: 20px !important;
  }
  #productNavBar .autosuggest {
	top: 55px !important;
	border: none !important;
	border-radius: 5px !important;
	overflow: hidden !important;
	font-family: Cabin, "Segoe UI", sans-serif !important;
	background: white !important;
	box-shadow: 0 4px 8px 0 #00000071 !important;
  }
  #productNavBar .autosuggest > .as_ul {
	margin: 10px 0px !important;
  }
  #productNavBar .autosuggest > .as_ul > li {
	padding: 2px 10px !important;
  }
  #productNavBar .autosuggest > .as_ul > li.as_highlight, #productNavBar .autosuggest > .as_ul > li.as_highlight > a {
	background: #f4f6f8 !important;
  }
  #productNavBar .autosuggest > .as_ul img {
	border-radius: 50% !important;
  }
  #productNavBar .autosuggest > .as_ul .description {
	color: #162a4c !important;
	font-weight: bold !important;
  }
  #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child {
	height: 24px !important;
	width: auto !important;
	padding: 2px !important;
	margin: 10px 5px !important;
	border: none !important;
	border-radius: 20px !important;
	background: #ffb400 !important;
	transition: all 200ms ease !important;
  }
  #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child > a {
	height: 24px !important;
	width: auto !important;
	padding: 0 !important;
  }
  #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child > a > span {
	color: #162a4c !important;
  }
  #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(2), #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(3) {
	height: 16px !important;
  }
  #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(2) {
	font-size: 1.25em !important;
	margin: 5px 5px 3px 10px !important;
  }
  #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(3) {
	margin: 4px 7.5px 4px 0 !important;
  }
  #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child:hover {
	color: white !important;
	background: #162a4c !important;
  }
  #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child:hover:hover > a {
	box-shadow: none !important;
  }
  #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child:hover:hover > a > span {
	color: white !important;
  }