@import "./variables.scss";

// css reset helpers

@mixin typography-reset {
    margin: 0;
    padding: 0;
	outline: 0;
	border: 0;
    text-align: left;
    font-size: initial;
}

// typography helpers

@mixin typograpy-title {
    @include typography-reset;
    color: $color-darkblue !important;
	font-family: $fontfamily-title;
    font-size: $fontsize-title !important;
    font-weight: bold !important;
}

@mixin typograpy-subtitle {
    @include typography-reset;
    color: $color-darkgrey !important;
	font-family: $fontfamily-title;
    font-size: $fontsize-subtitle !important;
    font-weight: normal !important;
}

@mixin typograpy-link {
    @include typography-reset;
    color: $color-black !important;
	font-family: $fontfamily-title;
    font-size: $fontsize-link !important;
    font-weight: normal !important;
}

@mixin typograpy-paragraph {
    @include typography-reset;
    color: $color-black !important;
	font-family: $fontfamily-paragraph;
    font-size: $fontsize-paragraph !important;
    font-weight: normal !important;
}

@mixin typograpy-url {
    @include typography-reset;
    color: $color-urlblue !important;
	font-family: $fontfamily-paragraph;
    font-size: $fontsize-paragraph !important;
    font-weight: normal !important;
}

// accent button helper

@mixin button-accent($has-icon: false) {
	@include typograpy-link;
    height: 24px !important;
    padding: 2px !important;
    border: none !important;
    border-radius: 20px !important;
    background-color: $color-yellow !important;
	transition: $default-transition !important;

	&, *{
		text-align: center;
	}

	a{
		height: 14px !important;

		@if $has-icon == true{
			padding: 1px 0px 0px 0px !important;

			> span{ 

				&:nth-of-type(2),
				&:nth-of-type(3){
					height: 14px !important;
				}
			
				&:nth-of-type(2){
					margin: 0 2.5px 0 10px !important;
				}
			
				&:nth-of-type(3){
					margin: 0 7.5px 0 0 !important;
				}
			}
		} @else{
			padding: 3px !important;
		}

		color: $color-darkblue !important;
		transition: $default-transition !important;
	}

    &:hover{
        background-color: $color-darkblue !important;

		a{
			color: $color-white !important;
			background-color: transparent !important; 
			box-shadow: none !important;
		}
    }
}