// ---------- colours ----------

$color-blue: #1287fa;
$color-darkblue: #162a4c;
$color-yellow: #ffb400;

$color-urlblue:  #1370CF;

$color-white: #fff;
$color-lightgrey: #f4f6f8;
$color-midgrey: #aeb6be;
$color-darkgrey: #959595;
$color-black: #000;

// ---------- fonts ----------

$fontfamily-title: 	   Cabin, "Segoe UI", sans-serif;
$fontfamily-paragraph: "Segoe UI", sans-serif;

$fontsize-title: 	 2rem;
$fontsize-subtitle:  1.25rem;
$fontsize-link: 	 1rem;
$fontsize-paragraph: 0.85rem;

// ---------- other ----------
$default-transition: all 0.2s ease;
$default-shadow: 0 4px 8px 0 #00000071;