@import "./universal/variables.scss";

// ---------- general ----------

body{
	background: $color-white !important;

    #c_ftr{
        position: relative !important;
    
        margin-bottom: 15px !important;
    }
}