#productNavBar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 48px !important;
  background: #1287fa !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  z-index: 999 !important; }

#productNavBar #mnuMenuContainer {
  height: 48px !important; }

#productNavBar #mnuMenuContainer > ul#mnu_left > li,
#productNavBar #mnuMenuContainer > ul#mnu_right > li:nth-of-type(2) {
  height: 58px !important;
  width: 48px !important; }

#productNavBar #mnuMenuContainer > ul#mnu_left > li > a,
#productNavBar #mnuMenuContainer > ul#mnu_right > li:nth-of-type(2) > a {
  width: 34px !important;
  height: 34px !important;
  max-height: initial !important; }

#productNavBar #mnuMenuContainer > ul#mnu_left > li > a > span.fas,
#productNavBar #mnuMenuContainer > ul#mnu_right > li:nth-of-type(2) > a > span.fas {
  font-size: 1.75em !important;
  margin: 6.5px !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul {
  top: 48px !important;
  border: none !important;
  border-radius: 5px !important;
  overflow: none !important;
  background: #fff !important;
  box-shadow: 0 4px 8px 0 #00000071 !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight {
  left: -203px !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: left;
  font-size: initial;
  color: #000 !important;
  font-family: Cabin, "Segoe UI", sans-serif;
  font-size: 1rem !important;
  font-weight: normal !important;
  height: 24px !important;
  padding: 2px !important;
  border: none !important;
  border-radius: 20px !important;
  background-color: #ffb400 !important;
  transition: all 0.2s ease !important;
  padding: 2px !important;
  margin: 10px 15px 5px 15px !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child, #productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child * {
  text-align: center; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child a {
  height: 14px !important;
  padding: 3px !important;
  color: #162a4c !important;
  transition: all 0.2s ease !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child:hover {
  background-color: #162a4c !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child:hover a {
  color: #fff !important;
  background-color: transparent !important;
  box-shadow: none !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul > li.mnuHead {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: left;
  font-size: initial;
  color: #162a4c !important;
  font-family: Cabin, "Segoe UI", sans-serif;
  font-size: 2rem !important;
  font-weight: bold !important;
  padding: 7.5px 15px 0 15px !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul > li.mnuSubHead {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: left;
  font-size: initial;
  color: #959595 !important;
  font-family: Cabin, "Segoe UI", sans-serif;
  font-size: 1.25rem !important;
  font-weight: normal !important;
  padding-left: 15px;
  padding-bottom: 2px; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead) {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: left;
  font-size: initial;
  color: #000 !important;
  font-family: Cabin, "Segoe UI", sans-serif;
  font-size: 1rem !important;
  font-weight: normal !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul li:not(.mnuHead):not(.mnuSubHead) + li.mnuSubHead {
  margin-top: 10px !important; }

#productNavBar #mnuMenuContainer > ul > li.clickable > ul li.mnuHead + li.mnuSubHead + li:not(.mnuHead):not(.mnuSubHead),
#productNavBar #mnuMenuContainer > ul > li.clickable > ul li.mnuHead + li:not(.mnuHead):not(.mnuSubHead),
#productNavBar #mnuMenuContainer > ul > li.clickable > ul li.mnuSubHead + li:not(.mnuHead):not(.mnuSubHead) {
  margin-top: 5px !important; }

#productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: left;
  font-size: initial;
  color: #000 !important;
  font-family: Cabin, "Segoe UI", sans-serif;
  font-size: 1rem !important;
  font-weight: normal !important;
  height: 24px !important;
  padding: 2px !important;
  border: none !important;
  border-radius: 20px !important;
  background-color: #ffb400 !important;
  transition: all 0.2s ease !important;
  margin: 10px 5px !important; }

#productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child, #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child * {
  text-align: center; }

#productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child a {
  height: 14px !important;
  padding: 1px 0px 0px 0px !important;
  color: #162a4c !important;
  transition: all 0.2s ease !important; }

#productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child a > span:nth-of-type(2), #productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child a > span:nth-of-type(3) {
  height: 14px !important; }

#productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child a > span:nth-of-type(2) {
  margin: 0 2.5px 0 10px !important; }

#productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child a > span:nth-of-type(3) {
  margin: 0 7.5px 0 0 !important; }

#productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child:hover {
  background-color: #162a4c !important; }

#productNavBar #mnuMenuContainer > ul#mnu_right > li:first-child:hover a {
  color: #fff !important;
  background-color: transparent !important;
  box-shadow: none !important; }

#productNavBar #ctl00_MenuBlob1_pnlSearch > input {
  height: 24px !important;
  padding-left: 10px !important;
  margin-top: 10px !important;
  border: none !important;
  border-radius: 20px !important; }

.autosuggest {
  top: 58px !important;
  border: none !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  background: #fff !important;
  box-shadow: 0 4px 8px 0 #00000071 !important; }

.autosuggest > .as_ul {
  margin: 10px 0px !important; }

.autosuggest > .as_ul > li {
  padding: 2px 10px !important; }

.autosuggest > .as_ul > li.as_highlight, .autosuggest > .as_ul > li.as_highlight > a {
  background: #f4f6f8 !important; }

.autosuggest > .as_ul img {
  border-radius: 50% !important; }

.autosuggest > .as_ul .description {
  color: #162a4c !important;
  font-weight: bold !important; }
