@import "./universal/mixins.scss",
		"./universal/variables.scss";

#c_bar{
 	border: none !important;

	 &, #calendarsideview-1010, #calendarmanagerwidget-1013{
		margin-top: 16px !important;
	}

	//calendar
	.compass-day-calendar{
		#toolbar-1014 { /* top bar */
			@include typograpy-paragraph;

			padding-left: 0px !important;
		
			color: $color-white !important;
			background: $color-blue !important;
		
			border:none;
			border-radius: 10px 10px 0px 0px !important;
		}
		
		#calendardaywidget-1013-tb-prev{ margin-left: 5px; } /* prev/next buttons */
		#calendardaywidget-1013-tb-next{ margin-right: 5px; }

		#calendardaywidget-1013-tb-prev, #calendardaywidget-1013-tb-next{
			height: 20px;
			width: 20px;
		
			margin-top: 2px;
			border-radius: 50%;
		
			cursor: pointer;
		
			color: $color-darkblue;
			background: transparent;

			*{
				transition: $default-transition;
			}

			:hover{
				color: $color-white !important;
			}
		}
		
		#calendardaywidget-1013-tb-prev > span > span{ width: 7.5px; } /* prev/next icons (chevrons) */
		#calendardaywidget-1013-tb-next > span > span{ width: 4px; }
		#calendardaywidget-1013-tb-prev > span > span, 
		#calendardaywidget-1013-tb-next > span > span{
			position: absolute !important;
			top: 50% !important;
			left: 50% !important;
			transform: translate(-50% , -50%) !important;
		}

		// calendar body
		#calendardaywidget-1013-body {
			border-radius: 0px 0px 10px 10px !important;
		
			overflow: show;
		}
	}

	// my tasks card
	.home-mytasks{
		display: none;
	}

	// looking ahead
	.home-lookingAhead{
		#toolbar-1065{
			color: $color-white !important;
			background: $color-blue !important;
	
			border-radius: 10px 10px 0px 0px !important;
		}

		#label-1066{
			padding-left: ((395px - 87px) / 2) - 1px;

			h5{
				@include typograpy-paragraph;

				color: $color-white !important;
			
				background-color: transparent;
				border: none;
			}
		}

		#ext-comp-1236{
			padding: 0px !important;
		}

		#ext-comp-1052{
			border: 1px solid $color-midgrey;
			border-top: none;
			margin: 0px !important;
		
			border-radius: 0px 0px 10px 10px !important;

			// item text wrapper
			> span div.newsfeed-alertItem{
				background-color: transparent !important;
			}
		}

		#ext-comp-1095{
			padding: 0px 0px 13px 0px !important;
		}
	}

	//top news bar
	#container-1086{
		height: 93px !important;

		#component-1089,
		#component-1089 > img{
			height: 93px !important;
		}

		#ext-comp-1083{
			padding-top: 3px;

			&, *{
				height: 28px;
			}

			h5{
				@include typograpy-title
			}
		}		
	}

	// news wrapper
	#ext-comp-1068{

		// news feed items
		.newsfeed-priorityNewsItems, .newsfeed-newsItems{
			.newsfeed-newsItem{
				.newsfeed-newsItem-profilePhotoContainer img{
					border-radius: 50%;
				}

				.newsfeed-newsItem-titleBar{
					@include typograpy-subtitle;

					&, * {
						font-weight: normal !important
					}
				}

				.newsfeed-newsItem-textContent{
					@include typograpy-paragraph;
				}

				.newsfeed-newsItem-attachments{
					img{
						position: relative;
						color: $color-darkgrey;

						&:before{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%) !important;
						}

						&::part(span){
							opacity: 0 !important;
						}
					}
					a{
						@include typograpy-url;
					}
				}

				
				.newsfeed-newsItem-seeMoreCTA{
					@include button-accent;

					font-size: 11px !important;

					padding: 2px 5px !important;

					height: 19px !important;

					left: auto !important;
					right: 0 !important;

					a{
						height: 14px !important;
					}
				}

				.newsfeed-newsItem-whenAndWhoContainer{
					left: 0 !important;
					right: auto !important;
				}
			}
		}

		// show more button

		#panel-1072-body{
			border: none !important;

			#panel-1072-innerCt{
				@include button-accent;
			}
		}
	}
}