@import "./universal/mixins.scss",
		"./universal/variables.scss";

// ---------- general ----------

#productNavBar{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;

    width: 100vw !important;
    height: 48px !important;

    background: $color-blue !important;
    box-shadow: none !important;
	-webkit-box-shadow: none !important;

	z-index: 999 !important;

	#mnuMenuContainer{
		height: 48px !important;

		// ---------- icon buttons ----------
		> ul#mnu_left > li,
		> ul#mnu_right > li:nth-of-type(2){
			height: 58px !important;
			width: 48px !important;

			> a{
				width: 34px !important;
				height: 34px !important;
		
				max-height: initial !important;

				// fontawesome icon
				> span.fas{
					font-size: 1.75em !important;
					margin: 6.5px !important;
				}
			}
		}

		// ---------- dropdowns ----------
		> ul > li.clickable > ul{
			top: 48px !important;

			border: none !important;
			border-radius: 5px !important;

			overflow: none !important;

			background: $color-white !important;
			box-shadow: 0 4px 8px 0 #00000071 !important;

			&::-webkit-scrollbar {
				width: 0px !important;
				background: transparent !important;
			} 
			
			// specifically the right-most dropdown
			&.mnuMenuRight{
				left: -203px !important;

				// logout button
				> li:last-child{
					@include button-accent();

					padding: 2px !important;
					margin: 10px 15px 5px 15px !important;
				}
			}

			// title, subtitle, typography behavior
			> li{
				&.mnuHead{
					@include typograpy-title;

					padding: 7.5px 15px 0 15px !important;
				}

				&.mnuSubHead{
					@include typograpy-subtitle;

					padding-left: 15px;
					padding-bottom: 2px;
				}

				&:not(.mnuHead):not(.mnuSubHead){
					@include typograpy-link;
				}
			}

			li:not(.mnuHead):not(.mnuSubHead) + li.mnuSubHead{
				margin-top: 10px !important;
			}

			li.mnuHead + li.mnuSubHead + li:not(.mnuHead):not(.mnuSubHead),
			li.mnuHead + li:not(.mnuHead):not(.mnuSubHead),
			li.mnuSubHead + li:not(.mnuHead):not(.mnuSubHead){
				margin-top: 5px !important;
			}
		}

		// ---------- user button ----------
		> ul#mnu_right > li:first-child{
			@include button-accent(true);

			margin: 10px 5px !important;
		}
	}

	// ---------- search bar ----------
	#ctl00_MenuBlob1_pnlSearch > input{
		height: 24px !important;
	
		padding-left: 10px !important;
		margin-top: 10px !important;
	
		border: none !important;
		border-radius: 20px !important;
	}
}

// ---------- search autosuggest ----------
.autosuggest{
	top: 58px !important;

	border: none !important;
	border-radius: 5px !important;

	overflow: hidden !important;

	background: $color-white !important;
	box-shadow: 0 4px 8px 0 #00000071 !important;

	// autosuggest element
	> .as_ul{
		margin: 10px 0px !important;

		> li{
			padding: 2px 10px !important;
		}

		> li.as_highlight{
			&, > a{
				background: #f4f6f8 !important;
			}
		}

		img{
			border-radius: 50% !important;
		}

		.description{
			color: $color-darkblue !important;
			font-weight: bold !important;
		}
	}
}