@use 'vars';

#productNavBar{

    position: fixed;
    top: 0;
    left: 0;

    width: $device-width;
    height: $nav-height;

    background: $cmps-main;
    
    box-shadow: none;
	
	font-family: Cabin, "Segoe UI", sans-serif;

    *{
        font-family: inherit;
    }

    // internal wrapper

    > #mnuMenuContainer{
        height: inherit;

        // icon buttons
        > ul#mnu_left > li{

            width: $nav-height;
            height: $nav-height + $nav-padding-small;

            > a{
                max-height: initial;

                width: 0.75 * $nav-height;
                height: 0.75  * $nav-height;

                > span.fas{
                    font-size: 1.5rem;
                    margin: 3.25 * $nav-padding-small;
                }
            }

        }
    }

    // search bar

    > #ctl00_MenuBlob1_pnlSearch > input{
        height: $nav-height / 2;
    
        padding-left: $nav-margin;
        margin-top: $nav-margin;
    
        border: none;
        border-radius: 50%;
    }


    // search autosuggest box

    .autosuggest{
        top: $nav-height + $nav-margin;
    
        border: none;
        border-radius: $nav-corners;
    
        overflow: scroll;
    
        background: $white;

        box-shadow: $nav-shadow;

        > .as_ul{
            margin: $nav-margin 0px;

            > li{
                padding: $nav-padding-small $nav-margin;

                &.as_highlight,
                &.as_highlight > a{
                    background: $white;
                }

                // dropdown
                &.clickable > ul{
                    top: $nav-height + $nav-margin;
                
                    border: none;
                    border-radius: $nav-corners;
                
                    overflow: none;
                
                    background: $white;
                    box-shadow: $nav-shadow;

                    &.mnuMenuRight{
                        left: -203px;
                    }

                    &.mnuHead{
                        margin-top: 0;
                        padding: 7.5px 15px 0 15px !important;
                        
                        color: $cmps-darkblue;
                        font-weight: bold;
                        font-size: 2rem;
                    }
                }
            }

            img{
                border-radius: 50%;
            }

            .description{
                color: $cmps-maindark;
                font-weight: bold;
            }

        }
    }

}

/* -------------------- */

/* ---------- dropdowns ---------- */


#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li.mnuSubHead{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	
	border: none !important;

	color: #4e4e4e !important;
	font-weight: initial !important;
	font-size: $fnt-header;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li.mnuHead + li:not(.mnuSubHead),
#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li.mnuHead + li.mnuSubHead + li,
#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li.mnuSubHead + li:not(.mnuSubHead){
	margin-top: 10px !important;
	padding-top: 10px !important;
	
	border-top: 1px solid #d3d3d3 !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead) > a{
	color: #333 !important
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead):hover,
#productNavBar > #mnuMenuContainer > ul > li.clickable > ul > li:not(.mnuHead):not(.mnuSubHead):hover > a{
	background: #f4f6f8 !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child{
	height: 24px !important;
	width: auto !important;

	padding: 2px !important;
	margin: 10px 15px 5px 15px !important;

	border: none !important;
	border-radius: 20px !important;

	background: var(--yellow) !important;

	transition: all 200ms ease !important;

	overflow: hidden !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > a{
	transition: all 200ms ease !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child > a{
	color: var(--darkblue) !important;

	text-align: center !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:not(.mnuHead):not(.mnuSubHead):last-child:hover,
#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:not(.mnuHead):not(.mnuSubHead):last-child:hover > a{
	background:  var(--darkblue) !important;
}

#productNavBar > #mnuMenuContainer > ul > li.clickable > ul.mnuMenuRight > li:last-child:hover > a{
	color: white !important;
}

/* ---------- user button ---------- */

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child{
	height: 24px !important;
	width: auto !important;

	padding: 2px !important;
	margin: 10px 5px !important;

	border: none !important;
	border-radius: 20px !important;

	background: var(--yellow) !important;
	
	transition: all 200ms ease !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a{
	height: 24px !important;
	width: auto !important;

	padding: 0 !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span{ 
	color: var(--darkblue) !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(2),
#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(3){
	height: 16px !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(2){
	font-size: 1.25em !important;

	margin: 5px 5px 3px 10px !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child > a > span:nth-of-type(3){
	margin: 4px 7.5px 4px 0 !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child:hover{
	color: white !important;
	background:  var(--darkblue) !important;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child:hover > a{ 
	box-shadow: none !important ;
}

#productNavBar > #mnuMenuContainer > ul#mnu_right > li:first-child:hover > a > span{ 
	color: white !important;
}