
// default colours
$white: #fff;

// brand colours
$cmps-main: #1287fa;
$cmps-maindark: #162a4c;
$cmps-accent: #ffb400;

//typography
$fnt-header: 1.5rem;

// device variables
$device-width: 100vw;


// nav bar vars
$nav-height: 48px;

$nav-margin: 10px;
$nav-padding-small: 2px;

$nav-corners: 5px;
$nav-shadow: 0 4px 8px 0 #00000071;